@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: "NotoSansKR";
    box-sizing: border-box;
    font-weight: 600;
}
html{
    overflow-y: scroll;
    height: 100%;
	-webkit-overflow-scrolling: touch;
}

body {
	overflow-y: visible;
	position: relative;
  height: unset;
}
html, body {
	overflow-x: hidden;
	margin: 0;
}


ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img,svg,video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@font-face {
    font-family: "NotoSansKR";
    src: url(../font/NotoSansKR-Black.otf);
    src: url(../font/NotoSansKR-Bold.otf);
    font-weight: 800;

}
@font-face {
    font-family: "NotoSansKR";
    src: url(../font/NotoSansKR-Medium.otf);
    src: url(../font/NotoSansKR-Regular.otf);
    font-weight: 500;

}
@font-face {
    font-family: "NotoSansKR";
    src: url(../font/NotoSansKR-light.otf);
    src: url(../font/NotoSansKR-thin.otf);
    font-weight: 300;
}